.payment-table table {
    width: 100%;
    border-collapse: collapse;
    max-width: 1250px;
  }
  
  .payment-table th, .payment-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .payment-table th {
    background-color: #f4f4f4;
    text-align: left;
  }
  