html , body{
  overflow: auto;
  }
  .dashboard {
      display: flex;
      background-color: white;
      overflow-x: hidden;
      overflow-y: hidden;
      padding: 0%;
      border:20px solid #fac504;
      width: 1490px;
      height: 95vh;


    }
    
    .dashboard__main {
      flex-grow: 1;
      background-color: #fff9c4;


    }
    .profile__main{
      overflow: auto;
    }
    