.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffc107;
    color: #333;
    border-radius: 8px;
}

.header-title {
    font-size: 1.5em;
    font-weight: bold;
}

.header-icon .delivery-icon {
    width: 40px;
    height: 40px;
}
